:root
{
   --white:#FFFFFF;
   --light-gray: #FAFAFA;
   --yellow: #DCCA87;
   --gray: #AAAAAA;
   --light-yellow: #F5EFDB;
   --black: #0C0C0C;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
    margin: 0px;
    

}


.header-logo
{

    font-family: "Cormorant Upright";
    font-size: 44px;
    font-weight: 700;
    line-height: 57.2px;
    letter-spacing: 0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px ;


}


.navigation-ul-a
{
    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    display: flex;
    margin: 0px;
    padding-top: 46px;
    padding-bottom: 46px;

}

.navigation-ul
{
    display: flex;
    gap: 32px;
    
}

.navigation
{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

}



.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header-line
{
    padding-left: 50px;
    padding-right: 50px;
}

.log-in-div
{
    display: flex;
    align-items: center;
}
.form-book-a-table
{
    display: flex;
    gap: 32px;
}
.h5-content
{
   
    font-family: "Cormorant Upright";
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin: 0px;

}

.entrance-section
{
    display: flex;
    align-items: center;
}
.h1-content
{
   
    font-family: "Cormorant Upright";
    font-size: 90px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);
    margin: 0px;

}

.section-p
{
    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray);
    

    width: 453px;
    padding-bottom: 32px;
}


.menu-button
{
    width: Hug (157px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 0px;
    opacity: 0px;
    background-color: var(--yellow);
    border: 0px;

       
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);


}

.outside-p
{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

    transform: rotate(180deg);

    writing-mode: vertical-lr;
    display: flex;
    align-self: center;
    justify-content: left;

    margin: 0px;

    padding-top: 40px;
    
}

.about-us-div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

body
{
    background-color: #0C0C0C;

}

.about-us-info
{
    text-align: right;
    z-index: 1;
}

.scroll-p
{
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-yellow);
    margin: 0px;

}
.about-us-section
{
    background-image: linear-gradient(to right, rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4)), url(./img/bg.svg);
}

.book-a-table-section
{
    display: flex;
    justify-content: center;
}

.scroll-p:nth-child(1)
{
    color: #FFFFFF;
}

.video-section
{
    background-image: url(./img/Video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 763px;
    top: 7119px;
    gap: 0px;
    opacity: 0px;

}

.g-svg-decor
{
    position: absolute;
    position: center;
    z-index: 0;
    width: 391px;
    height: 415px;
    top: 1498px;
    left: 1000px;
    gap: 0px;
    opacity: 0px;

}
.knive-png-decor
{
    padding-top: 120px;
    padding-bottom: 136px;
    z-index: 3;
}

.book-a-table-section
{
    margin-bottom: 152px;
    margin-top: 157px;
    display: flex;
    flex-wrap: wrap;
    width: 1364px

    height: Hug (466px)px;
    top: 2260px;
    left: 278px;
    padding: 48px 32px 48px 32px;
    gap: 64px;
    opacity: 0px;
    background: var(--black);
    border: 1px solid #DCCA8733;
    box-shadow: 22px 30px 95px 1px #000000B2;

    

}

.about-chef-section
{
    background-image: linear-gradient(to right, rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4)), url(./img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1045px;
}

.view-more-button-div
{
    display: flex;
    justify-content: center;
    margin-bottom: 152px;
}


.scroll
{
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);

}

.chef-section-div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.txt-about-chef
{
    width:570px;
    height: 615px;
    gap: 64px;
    opacity: 0px;
    margin-top: 215px;
    margin-bottom: 215px;
    
}
.h2-content
{
    
    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);
    margin: 0px;

}

.know-more-button
{
    width: Hug (141px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 0px;
    opacity: 0px;
    border: 0px;
    background-color: var(--yellow);

    
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);

}

.form 
{
    width: 390px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    
    border: 1px solid var(--light-yellow);
    background-color: var(--black);
    
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    align-items: center;
   
    text-decoration-skip-ink: none;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    appearance: none;
    background-image: url(./img/arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    
}

.form::-webkit-calendar-picker-indicator 
{
    
}

.p-reverse
{
    text-align: right;
}

.main-text-div
{
    width: Hug (350px)px;
    height: Hug (138px)px;
    gap: 8px;
    opacity: 0px;
    text-align: center;

}
.alcohol-list
{
    padding: 0px;
}



.book-a-table-button
{
    width: Hug (133px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 10px;
    opacity: 0px;
    border: 0px;
    background-color: var(--yellow);

    
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);


}

.menu-nav-section
{
    background-image:  linear-gradient(to right, rgba(12, 12, 12, 0.4), rgba(12, 12, 12, 0.4)), url(./img/beer.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
}

.alcohol-menu-entrance-txt
{
    text-align: center;
    justify-content: center;
    margin-top: 152px;
    margin-bottom: 64px;
}



.alcohol-menu-div
{
    display: flex;
    justify-content: space-between;
}

.alcohol-menu-li
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    
    padding: 0px;

}

.menu-nav
{
    
    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    

}

.menus-ul
{
  
    height: 900px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: left;

}

.menu-nav-li
{
    margin-bottom: 64px;
}

.menu-nav:hover
{

    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid 3px var(--white);

}

.h3-content
{
   
    font-family: "Cormorant Upright";
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    text-align: center;

}
.h5-menu
{

    font-family: Cormorant Upright;
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em; 
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);
    margin: 0px;
    width: 192px;
    height: 27px;
    gap: 0px;
    opacity: 0px;


}
.laurels-section
{
    background-image: linear-gradient(to right, rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4)), url(./img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 947px;
}

.awards-div
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.laurels-main-text
{
    width: Hug (634px)px;
    height: Hug (454px)px;
    gap: 64px;
    opacity: 0px;

}

.rate-li-text
{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height:94px;
    gap: 8px;
    opacity: 0px;
}
.rate-li
{
    display: flex;
    gap: 32px;
    align-items: center;
}

.awards-text
{
    margin-bottom: 64px;
}

.rate-p
{
    margin: 0px;
}

.meat-img-div
{
    margin-top: 128px;
    margin-bottom: 128px;
}

.rate-ul
{
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 64px;
    padding: 0px;
}

.h5-price
{
    font-family: "Cormorant Upright";
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin: 0px;
    margin-left: 32px;
    margin-right: 32px;

}

.about-people-etrance
{
    text-align: center;
    justify-content: center;
    margin-top: 152px;
    margin-bottom: 64px;
}

.people-item-ul
{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px;
}

.people-item
{
    flex-basis: calc((100% - 32px) / 2 );
    display: flex;
    flex-wrap: nowrap;
}

.p-menu
{
    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
   
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray);

}
.people-div
{
    margin-bottom: 152px;
}
.view-more-button
{


    width: Hug (136px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 0px;
    opacity: 0px;
    border: 0px;
    background-color: var(--yellow);

    
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);
    margin-top: 64px;

}

.p-about-content
{

    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray);
   
}

.p-about-content::before
{
    content: url(./img/“.svg);
    text-align: center;
    padding-right: 10px;
}

.h4-content
{
   
    font-family: "Cormorant Upright";
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);
    margin: 0px;
}

.p-about-people-content
{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray);
    width: 412px;
    height: 84px;
    gap: 0px;
    opacity: 0px;
    

}

.about-people-div
{
    margin-left: 16px;
}

.p-about
{
        
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-yellow);
    margin: 0px;

}

.p-info
{
    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-gray);

}

.h3-useful-inf
{

    font-family: "Cormorant Upright";
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid var(--yellow);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);

}

.read-more-button
{

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    border: 0px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;
    color: var(--yellow);

}

.subscribe-button
{
    width: Hug (129px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 10px;
    border: 0px;
    opacity: 0px;
    
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: var(--yellow);
    color: var(--black);

}

.form-email
{
    width: 796px;
    height: 60px;
    gap: 32px;
    opacity: 0px;

    border: 1px solid var(--light-yellow);
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;


}

.footer-h4-content
{
    
    font-family: "Cormorant Upright";
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-yellow);

}

.footer-logo
{
    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);

}

.footer-p-content
{
    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

}

.bar-menu-h1
{
    font-family: "Cormorant Upright";
    font-size: 181px;
    font-weight: 700;
    line-height: 235.3px;
    letter-spacing: 0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

}

.bar-menu-h3
{
   
    font-family: "Cormorant Upright";
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

}

.happy-hours-h3
{
    font-family: "Cormorant Upright";
    font-size: 128px;
    font-weight: 600;
    line-height: 166.4px;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--yellow);

}

.bar-menu-p
{
    font-family: "Cormorant Upright";
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);

}

.visit-us-button
{
   
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);

    width: Hug (119px)px;
    height: Hug (44px)px;
    padding: 8px 32px 8px 32px;
    gap: 0px;
    opacity: 0px;
    border: 0px;
    background-color: var(--yellow);

}

.container-inner
{
    max-width: 1300px;
    margin: 0 auto;
    
    
}

.container-out
{
    max-width: 1680px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

